.page{
    display: flex;
    flex-direction:row;
    width: 100%;
    

}
.left-login{
    display: flex;
    background-color: #FFFBF4;
    border-radius: 61px;
    max-width: 60%;
    flex-basis: 60%;
    height: 900px;

}
.right-login{
    display:flex;
    background-color: #52BF95;
    border-radius: 51px;
    max-width: 40%;
    flex-basis: 40%;
    height: 900px;

}
.sign-in-container{
    display: flex;
    position: relative;
    background-color: rgb(29, 131, 226);
    justify-content: center;
    align-items: center;
    left: 183px;
    
}